*{
    margin: 0;
    padding: 0;
}
.dropBox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: lightcyan;
    color: dimgray;
    padding: 10px 10px;
    min-height: 300px; /* minimum height */
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px;
    h6{
        display: flex;
        justify-content: center;
    }
    .icon{
        display: flex;
        justify-content: center;
        font-size: 2.2em;
        color: rgb(230, 219, 219);
        text-shadow: 1px 1px 1px rgb(133, 130, 130);
        
    }
    &:hover {
    background: lightblue; /* when mouse over to the drop zone, change color */
  }
}

  
